.subHeaderBorder{
    background-color: #DB4444;
    border-radius: 4px;
    display: inline-block;
    height: 40px;
    width: 20px;
}

.subHeaderName{
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #DB4444;
    margin-left: 1em;
}

.subHeader{
    display: flex;
    align-items: center;
}