.sectionHeader{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 20px;
}