@font-face {
  font-family: "poppins";
  src: url(./../public/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family:"poppins-bold";
  src: url(./../public/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-m";
  src: url(./../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-s";
  src: url(./../public/fonts/Poppins-SemiBold.ttf);
}
body {
  margin: 0;
  font-family: "poppins";
}

code {
  font-family: "poppins";
}

